<div id="go-config-copy-to-clipboard">
  <a id="go-config-copy-to-clipboard-menu"> » Configurar a cópia para a área de transferência</a>
  <div class id="go-config-copy-to-clipboard-content">
    <!-- <div class="go-config-copy-itens">
      <h4>Coordenadas</h4>
      <div class="go-config-copy-subitens">
        <input type="checkbox" id="coords-active" name="coords:active" class="toggle">
        <label for="coords-active"></label>
        <label for="coords-active" class="go-label-checkbox">
          Ativar ou desativar o a cópia de coordenadas.
        </label>
      </div>
      <div class="go-config-copy-subitens">
        <input type="checkbox" id="coords-print" name="coords:print" class="toggle">
        <label for="coords-print"></label>
        <label for="coords-print" class="go-label-checkbox">Apresentar mensagem.</label>
      </div>
      <div class="go-config-copy-subitens">
        <input type="checkbox" id="coords-selectionOnly" name="coords:selectionOnly" class="toggle">
        <label for="coords-selectionOnly"></label>
        <label for="coords-selectionOnly" class="go-label-checkbox">
          Copiar somente quendo o texto é selecionado.
        </label>
      </div>
    </div> -->
    <div class="go-config-copy-itens">
      <h4>Data e hora</h4>
      <div class="go-config-copy-subitens">
        <input type="checkbox" id="datetime-active" name="datetime:active" class="toggle">
        <label for="datetime-active"></label>
        <label for="datetime-active" class="go-label-checkbox">
          Ativar ou desativar a cópia de data e hora.
        </label>
      </div>
      <div class="go-config-copy-subitens">
        <input type="checkbox" id="datetime-print" name="datetime:print" class="toggle">
        <label for="datetime-print"></label>
        <label for="datetime-print" class="go-label-checkbox">Apresentar Mensagem.</label>
      </div>
    </div>
  </div>
  <!-- <div id="go-dtgrp-content"></div> -->
</div>
