<table class="vis alternating-rows table-wrap" width="100%">
  <thead>
    <tr>
      <th class="go"><input type="checkbox" id="go-checked-all"></th>
      <th class="go" id="go-village-title"></th>
      <th class="go go-center">
        <div class="go-th-wrap">
          <button class="go-ico go-sortable" type="button" data-sort="distance">
            <img class="go-ico-pin" src="../images/location-pin.svg" data-title="Ordenar(Padrão): Distancia" alt="distance">
          </button>
          <button class="go-filter-btn" type="button" data-filter="distance" data-title="Filtrar distancia"></button>
        </div>
      </th>
      <th class="go go-center" data-title="Próxima Saída">
        <div class="go-th-wrap">
          <button class="go-ico go-sortable" type="button" data-sort="output" data-title="Ordenar: próxima saída">
            <span class="go-ico-time-content">
              <div class="go-ico-time">
                <span class="go-hand0" aria-hidden="true"></span>
                <span class="go-hand5" aria-hidden="true"></span>
              </div>
            </span>
          </button>
          <button class="go-filter-btn" type="button" data-filter="output" data-title="Filtrar próxima saída"></button>
        </div>
        <!-- <img class="go-ico-pin" src="../images/calendar-pin.svg" title="Saída" alt="saída"> -->
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<!-- <a href="https://br134.tribalwars.com.br/game.php?village=154012&screen=place&ajax=command&x=${calculateDistance.get().x}&y=${calculateDistance.get().y}&source_village=${sender.villageId}&spear=0&sword=0&axe=${1000}&archer=0&spy=0&light=${1000}&marcher=0&heavy=0&ram=0&catapult=0&knight=0&snob=0&group=0"></a> -->
