<div id="go-popup-map-planner" class="popup_box_container sub-dialog">
  <div class="popup_box show">
    <a
      class="popup_box_close"
      href="#"
      data-title="Close"
    ></a>
    <div class="go-fixed">
      <div class="popup_box_content go-content">
        <div class="go-map-plan-title">
          <div class="go-map-plan-title-main">
            <img id="go-logo" src="https://raw.githubusercontent.com/UnrecognizedBR/public/master/icons/icon_green_60.png" alt="letsgo">
            <h3>Visual Command Planner</h3>
          </div>
          <div id="go-planner-mode-slot"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="fader"></div>
</div>
